{% extends 'homepage/homepage.html' %}
{% block title %}Add author{% endblock %}
{% block content %}

<h1>Add author</h1>
<div class="container">
<form method="post">
    {% csrf_token %}
    <p class="text-left font-weight-bold">Enter author name: </p>
    {{ form.name }}
    <p class="text-left font-weight-bold">Enter author surname: </p>
    {{ form.surname }}
    <p class="text-left font-weight-bold">Enter author patronymic: </p>
    {{ form.patronymic }}
    <span>{{ error }}</span>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>

{% endblock %}
